$Basefont: "Poppins", sans-serif;
$baseColor: #25242b;
$footerLinkColor: #dce4ff;
$textBlack: #000000;
$textColor: #3f3f3f;
$titleColor: #0d0c19;
$LightBg: #f7f8fd;
$GradientBtn: linear-gradient(
  256deg,
  #9923dc 0%,
  #ea088d 28%,
  #fd5040 68%,
  #fca305 100%
);
$BlueColor: #0e4898;
$ActiveColor: #ff694e;
$textGreen: #32d4a0;
$textLightColor: #8e8e8e;
$white: #ffffff;
$footerBg: #000034;
$cardbg: #fafbfe;
